<div class="footer-bar">
  <div class="footer-bar-content" fxLayout="row wrap" fxFlexOffset="10">
    <div class="toolbar-text-bold"
         fxFlex.xs="100"
         fxFlex.sm="50"
         fxFlex.md="50"
         fxFlex.lg="50"
         fxFlex.xl="50">
      let's discuss making your interior like a dream place!
    </div>
    <div class="toolbar-contact-us-content"
         fxFlex.xs="100"
         fxFlex.sm="40"
         fxFlex.md="40"
         fxFlex.lg="40"
         fxFlex.xl="40">
      <div>Contact us below to work together to build your amazing interior</div>
      <button mat-raised-button class="footer-bar-button">Contact Us</button>
    </div>
  </div>
</div>

<div class="under-footer-bar" fxLayout="row wrap" fxLayoutAlign="space-evenly">
  <div fxLayout="column"
       fxFlex.xs="100"
       fxFlex.sm="50"
       fxFlex.md="50"
       fxFlex.lg="50"
       fxFlex.xl="50">
    <span class="footer-label">Dananz</span>
    <div class="slogan">
      One of the best furniture agency.
    </div>
  </div>

  <div fxFlex.xs="100"
       fxFlex.sm="40"
       fxFlex.md="40"
       fxFlex.lg="40"
       fxFlex.xl="40"
       class="email-content" fxLayout="column">

    <div fxLayout="row">
      <mat-icon class="brightness-icon">brightness_1</mat-icon>
      <p class="email-input-header">Enter your email to get the latest news</p>
    </div>
    <mat-form-field style="width: 70%">
      <mat-label>Email</mat-label>
      <input type="email" matInput
             placeholder="Email Address">
      <img src="assets/images/arrow-half.png" matSuffix style="width: 23.5px;height: 9.01px;">
    </mat-form-field>

    <div class="social-media-content" fxLayout="column">
      <span>Follow us On</span>
      <div class="social-media-buttons">
        <button mat-icon-button>
          <img src="assets/images/facebook.png">
        </button>
        <button mat-icon-button>
          <img src="assets/images/instagram.png">
        </button>
        <button mat-icon-button>
          <img src="assets/images/tik-tok.png">
        </button>
        <button mat-icon-button>
          <img src="assets/images/youtube.png">
        </button>
      </div>
    </div>
  </div>

</div>
