<div class="dashboard-content">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <h1 class="dashboard-title">Minimalist Room</h1>
    <h3 class="dashboard-sub-title">
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at
      its
      layout.
    </h3>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="32px grid">
    <div fxFlex="100">
      <img class="images"
           src="https://s3-alpha-sig.figma.com/img/2f5a/d843/170ce4e03b8ed505a05a7f37ffed8384?Expires=1678665600&Signature=H8mcKuTbzdHDidyqMNF4~R8oRDWZaMTjhyvY0FR8Yt90qUDLdrnTIZUY3opp8iwF7lKxBaUw4ebAKDklcsfy1dJa8wUbjrQvefVHCfSPhuyEUhmK-a1RRWxhNStNUTtSvb02oMwKtn3o1ilC2pScd~SJM5072COIFsNLjfNmgc1ExxAnahU4Q5Yy2CyIZp-PURpklyDHAnnW4T744NB4uaf7CcxibdqkQpfGD7pLhs-CNEzVbLrwOAorAtBE5Xhd9hlaBokymWnuPdAaASYJb6Zh4lhH2~DCSfsliOKmVtmVmKP5NAoAcuUlMMPLT-c~Mli08qv5w8rFF63vlXSDJw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
    </div>
    <div fxFlex.xs="100"
         fxFlex.sm="50"
         fxFlex.md="50"
         fxFlex.lg="50"
         fxFlex.xl="50">
      <h3 class="middle-text-header">
        Project Overview
      </h3>
      <p class="middle-text">
        Online learning with us does not interfere with your daily life. because learning can be done anytime and
        anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime
        and anywhere. Online learning with us does not interfere with your daily life. because learning can be done
        anytime and anywhere.
      </p>
      <div fxLayout="row">
        <p class="middle-text">
          July 22 - 2022
        </p>
        <p class="middle-text" fxFlex="66" fxFlexOffset="15">
          Interior Design - Furnitur
        </p>
      </div>
    </div>
    <div fxFlex.xs="100"
         fxFlex.sm="50"
         fxFlex.md="50"
         fxFlex.lg="50"
         fxFlex.xl="50">
      <h3 class="middle-text-header">
        Design Process
      </h3>
      <p class="middle-text">
        Online learning with us does not interfere with your daily life. because learning can be done anytime and
        anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime
        and anywhere.
      </p>
      <p class="middle-text">Online learning with us does not interfere with your daily life. because learning can be
        done
        anytime and
        anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime
        and anywhere.
      </p>
    </div>
    <div fxFlex.xs="100"
         fxFlex.sm="50"
         fxFlex.md="50"
         fxFlex.lg="50"
         fxFlex.xl="50">
      <img
        class="images"
        src="https://s3-alpha-sig.figma.com/img/a083/8e84/78a5c234cdd623b0224d72be10179444?Expires=1678665600&Signature=nw6f5T0nFsnL-aRvAj1xnNVIsHwkJcU60fZSsbXaXq78HtlWRCIAqu-CZlQxB~cVoTFL-dPbTpmCcGZ4KwzHeqL2dq0cSZna8NymhcnmEzts-sQfs8p4uLxNXQtMxnhkUMZPp8CDfu5oogP9SJdcVwgftP4PE~~Ygxeng625BVByT77Dy0KsOp50EvxvB4k99NdH1nrJGadT55QRnAwfL2pB7o8l7FCQJaur06U328LXLhDUbE-mTRVeLMeGYABTkQN~cbEsBpYbasuP1nJeJ032zE7cwK0-GsITW8GCEiJ-qj76usza1q3DvPMh~OobugkiUcp680F~yPbl1wmgug__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
    </div>
    <div fxFlex.xs="100"
         fxFlex.sm="50"
         fxFlex.md="50"
         fxFlex.lg="50"
         fxFlex.xl="50">
      <img
        class="images"
        src="https://s3-alpha-sig.figma.com/img/03be/899c/28c08b3d7322ac49ee7551f8ed831d14?Expires=1678665600&Signature=EqgROHkGL2SLScgFXDrscAAjJlGUeeRDRs2ZSkZ9kOI6d-HM2t5-QkkIFyKoukbH5Gn3XPq8PccLppN5W~Wqr2uKKiRUcqrzRH4AI3gMDhm4x~NXGmcqHp9L52~uQsaqyI15D1Uhbjrzh9p2cnNmlZuRP-PsPg93iMoMFUp-pKnLTJJ6OqHr87jlAu-WVbAdMjL64Iv166XILLmJKhrNx1O3fkpBKgEOE-tw~~cx8Y-tWRjNBFuzc61AR07vSJV1WzWhTw4eMNFsfRtYIxdRttPX599chTtmcuzE9w8unfEi17Hl2gwZACZwekeixh1X9qnB~WL3GWZDryohge~LAQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
    </div>
    <div fxFlex="100">
      <img
        class="images"
        src="https://s3-alpha-sig.figma.com/img/a50f/1060/2dd847b80ff6957bad7f77b702987707?Expires=1678665600&Signature=UH2Sv1wMBJwimnLEuEFUaGtzzg0jbSyHlpVJkGKduNNJaE5u9X9NBLEref-zb4N4AiHLkKCJV5uJuLQKmwK9ptfQKnuoTClMWqKhCLhGs1bv-LvG2uMs~y5cprR7wFoarzHaZ6thynpV-XiUh1kDV~yYuaZztAjiVqtmNyAgHW90wtQtg46fFmBilpRBJ~NuDeG4t6G-1mXXtb4tZquh3ubnKCwNN44s8h-F3qJIiij7Xf9aev9ocQG0aG0AYq7QWEva3e0GxiPXpa-uFYPmCdGtrKwrm1VBSB3kVKIMBE-prqOK2ujCcSoIx95svWvRF6y5207ZoxGYYLKJAZUpsg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">

    </div>
    <div fxFlex.xs="100"
         fxFlex.sm="50"
         fxFlex.md="50"
         fxFlex.lg="50"
         fxFlex.xl="50">
      <img
        class="images"
        src="https://s3-alpha-sig.figma.com/img/7b15/8c31/d68ec7e5c190561155fd1cc60f5df53a?Expires=1678665600&Signature=SV1OAJCVuySKm20K3CD7dn0~ete4kd7snsJ~d4AscTPWsXPAj14m6IAxQBjR3SwuxYz8-tFygrRZpIurmXvtifMqGy-GqSmwzxXXa4N8u6OACUPX2S000Xl93dy4ykLZkt8W~c0SR0g25fJ5RkV6PW6TkdmtdawM5e~g4tr28Ek1LLHOu1WfXHtUxlGd1EkwG6eVV~WJHCoLHAAe3KPCWURsnCN0p4~UENIukWmm-dPdzG8HFGdwqHjpCrB14hA3dQ2pjGUKIM4KssRv9D6hRGGrMGrfpZbJxBsA2Tr9jhqbA2iOvBlYWPtnMUjDrk8DQvU0Wzri~K2YnsPJ0bJOGw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
    </div>
    <div fxFlex.xs="100"
         fxFlex.sm="50"
         fxFlex.md="50"
         fxFlex.lg="50"
         fxFlex.xl="50">
      <img
        class="images"
        src="https://s3-alpha-sig.figma.com/img/2105/a64d/bbe5e1951b964c976e580bffb2021012?Expires=1678665600&Signature=NpD6Fe-UL6hu2ZS1FRvsRVpXSkzP0mEVatvNyLIjbygd9h9ZH9TJx9OWlqRvwexHJ70w0O4bjh7uR~B1h8KpBeyDaiZ2fIKAQu7jOJYbvEgY4LGX-rr3GjD-3GBIR91wh8fp73YrqgdcioabPAvURX3-~0eRU2D~t9FS7q~jwXRt0OAPpVfhYKpeZGPWoE11ONayvO9kmrshtbGGj54sYdJs2rq4e2aXUrmKiUnOLUqapXAOoE4ybGXi53cXF2I~ERvQWLHL0HdXIoEQSTO1dykd7O5Zg8iZDkfP0M1MUSZYn7avzRX22HaEu3z2vpqTdaHHVp-hm9d3vH0KPILnHg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
    </div>
  </div>
</div>
